*{
    margin:0;
    padding:0;
}

.everything{
    height:100vh;
}

.navbar{
    height:10vh;
}

.background{
    height:85vh;
    background-image: url(../images/bkgnd.png);
    background-color: #ddd;

    
}

.textbox{
    margin: 5%;
    padding: 3%;
}

.footer{
    
    border-top: 10px solid #4aaaa5;
    background-color: #666;
    color: #aaa;
    text-align: center;
    position: fixed;
    bottom: 0;
    width:100%;
    height: 5vh;
}
